.btn {
  border: none;
  font-weight: 500;
  font-size: 15pt;
  background-color: purple;
  margin: 10px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15%;
   font-style: italic;

}
.card {
  background-color: blueviolet;
  font-style: italic;
margin: 10px;
  font-weight: 500;
}
.poke-characters {
  color: red;
  outline: black;
  height: 200px;
  width: 100%;
  background: rgb(68, 177, 245);
  margin-left: -12px;
margin-right: -24px;
}
body{
  background: rgb(131, 230, 43);
    font-weight: 500;
}
h1 {
    font-weight: 900;
    font-size: 25pt;
    text-align: center;
}